.App {
  text-align: center;
  margin: 1%;
}
form {
  margin-left: 2%;
  margin-bottom: 10%;
}
label {
  display: flex;
  margin-top: 2%;
}
input {
  display: flex;
  width: 80%;
  padding: 0.5rem;
  justify-content: center;
}
.btn-create {
  padding: 0.5rem;
  display: block;
  margin-top: 10px;
  /* margin-left: 10px; */
}
